img{
  width:100%;
}
.contenido-2{
  width: 100%;
  background:#333;
}

.recomendado{
  width: 90%;
  max-width: 1400px;
  margin: auto;
  padding-bottom: 40px;
}
.recomendado h1{
  text-align: center;
  font-size: 36px;
  padding-top: 20px;
  margin: 0px 0px 40px;
  color: #fff;
}
.contenido-recomendado{
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
}
.contenido-items{
  width: 28%;
  position: relative;
  overflow: hidden;
}
.recomendado-txt{
  position: absolute;
  bottom: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  transform: translatey(100%);
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.recomendado-txt h2
{
  font-size: 30px;
}

.recomendado-txt p{
  color: #fff;
  text-align: justify;
}
.contenido-items:hover .recomendado-txt{
  -webkit-transform: translate(0%);
  -ms-transform: translate(0%);
  transform: translate(0%);
}
.contenido-items:hover .recomendado-img{
  transform: scale(1.15);
}
.recomendado-img{
-webkit-transition: all 500ms;
-o-transition: all 500ms;
transition: all 500ms;
}
